body
  font-family: Monaco
  padding: $gutter
  .container
    width: 670px
    margin: 0 auto
    header
      text-align: center
      h1
        margin-bottom: 20px
        font-size: xx-large
    section
      p
        margin-bottom: $gutter
        br
          height: 40px
          display: block
    footer
      text-align: center
      p
        margin-bottom: $gutter/2
